@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//variables
$primary-color: #0099FF;
$secondary-color: #fff;
$success-color: #7dde0d;
$error-color: #fc0026;
$warning-color: #f4d83a;
$dark-color: #131313;
$light-color: #fff;
$faded-color: #a0a0a0;

$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1600px;

//essentials
body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.btn {
  padding: 14px 24px;
  background: $light-color;
  border: 1px #000 solid;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  display: inline-flex;

  &.btn-primary {
    background: $primary-color;
    border: 1px $primary-color solid;
    color: $light-color;

    &.outline {
      background: inherit;
      color: $primary-color;
    }
  }

  &.btn-secondary {
    background: $secondary-color;
    border: 1px $secondary-color solid;

    &.outline {
      background: inherit;
      color: $secondary-color;
    }
  }

  &.small {
    padding: 14px 14px;
  }
}

.section {
  width: 100%;
  flex-direction: column;
  display: inline-flex;

  .section-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    display: inline-flex;
    padding: 120px 80px;

    .section-header {
      height: fit-content;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 24px;
      display: flex;
    }
  }
}



//navbar
.navbar {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;

  .navbar-container {
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
    padding: 20px 80px;

    .logo-container {
      height: 26;
      justify-content: flex-start;
      align-items: flex-start;
      display: flex;

      .logo {
        width: 88;
        align-self: stretch;
        justify-content: center;
        align-items: center;
        gap: 8px;
        display: flex;
      }
    }

    .nav-content {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      display: inline-flex;

      .links {
        justify-content: flex-start;
        align-items: center;
        gap: 32px;
        display: flex;

        .link {
          opacity: 0.50;
          color: white;
          font-size: 16px;
          font-weight: 400;
          text-decoration: none;

          &.active {
            opacity: 1;
          }
        }

        @media (max-width: breakpoint-lg) {
          flex-direction: column;
        }
      }

      @media (max-width: breakpoint-lg) {
        display: none;
      }

      &.active {
        @media (max-width: breakpoint-lg) {
          display: inline-flex;
          position: absolute;
          background-color: $dark-color;
          padding: 20px 80px;
          top: 70px;
          right: 10px;
          border-radius: 18px;
        }

        @media (max-width: breakpoint-sm) {
          width: min(100vh - 100px, 70vh);
        }
      }
    }

    .mobile-trigger {
      display: none;

      @media (max-width: breakpoint-lg) {
        display: block;
      }
    }
  }
}

//home
.home_wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(17deg, #090909 0%, rgba(41, 51, 62, 0.659) 50%, #050505 100%);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
  overflow: hidden;

  .header {
    .content {
      align-self: stretch;
      padding: 0 180px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 24px;
      display: flex;
    

      .header-title {
        align-self: stretch;
        text-align: center;
        color: $light-color;
        font-size: 65px;
        font-weight: 600;
        line-height: 78px;
      }

      .header-description {
        width: 729px;
        text-align: center;
        color: $faded-color;
        font-weight: 400;
      }
    }

    .actions {
      width: 299px;
      height: 58px;
      justify-content: center;
      align-items: center;
      gap: 16px;
      display: inline-flex;
    }

    .img-wrap {
      width: 100%; 
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .image { 
        width: 100%;   
        border-radius: 25px;
        -webkit-mask-image: linear-gradient(#000, rgba(0,0,0,0));
        mask-image: linear-gradient(#000, rgba(0,0,0,0));
      }
    }
  }




}